$inuit-enable-btn--tertiary: true;
@import 'px-buttons-design/_objects.buttons.scss';
@import 'px-forms-design/_base.forms.scss';
$inuit-btn-background : $blue3;
@import "px-buttons-design/_objects.buttons.scss";

px-dropdown {
	--px-dropdown-bg-color--default : white;
}

.img-circle {
    border-radius: 50%;
}





