<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="/bower_components/px-dropdown/px-dropdown.html"/>

<link rel="import" href="add-contacts-view-styles.html">
<dom-module id="add-contacts-view">
  <template>

    <style include="add-contacts-view-styles"></style>

    <iron-ajax
      id="postContactAjax"
      url="https://acts-contacts-microservice.run.aws-usw02-pr.ice.predix.io/api/v1/postcontacts"
      last-response="{{response}}"
      loading="{{loading}}"
      method="POST"
    >
    </iron-ajax>


     <px-card icon='fa-user' header-text='Add Contact'>

        <form>
         <label>Name:</label>
         <px-dropdown value="{{selectedName}}" display-value="Select Name">
               
          <px-dropdown-content 
               class="px-dropdown-content" 
               items='[{"key":"one", "val": "Naruto Uzumaki"}, {"key":"two", "val": "Sasuke Uchiha"}, {"key":"three", "val": "Sakura Haruno"}, {"key":"four", "val": "Kakashi Hatake"}]'>
          </px-dropdown-content>
         </px-dropdown>
         <br>
         <div>
          <label for="Email">Email:</label>
          <input type="email" id="Email" name="email" placeholder="Enter a valid email address" value="{{email::input}}" class="text-input input--small" required>
         <br><br>
          <label for="Image">Image:</label>
          <input type="text" id="Image" name="image"  placeholder="Your Image URL" value="{{image::input}}" class="text-input input--small"pattern="https?://.+"  required>
          <br><br>
         </div>
          <button class="btn btn--primary" on-tap="addContact">Add</button>
          <button class="btn btn--primary" type="reset" value="Reset" on-tap="resetTriggered">Reset</button>
        </form>

        <br>
        <template is="dom-if" if="{{addTriggered}}">
        <px-card icon='fa-user' header-text='New Contact'>
        <div align="center">
        <img class="img-circle" src={{image::input}} alt="" height="300" width="300" />
        <br><br>
        <div><label><b>Name: </b></label> {{selectedName}}</div>
        <br>
        <div><label><b>Email: </b></label> {{email::input}}</div>
        <br>
        <button class="btn btn--primary" on-tap="submitContact">Submit</button>
        </div>
        </px-card>
        </template>
       
      </px-card>
  </template>

  <script>
    Polymer({
      is: 'add-contacts-view',

      properties: {
        selectedName: String,
        email: String,
        image: String,
        addTriggered : {
            type : Boolean,
            value : false
        },
        loading: {
          type: Boolean
        }, 
       contact: {
          type: Object,
          notify: true
       },
       },

       listeners: {
        'px-dropdown-value-changed' : 'getSelectedName'
      },
      

      observers: [
        'isLoading(loading)'
      ],

      isLoading: function(){
        console.log("isLoading : " + this.loading);
        if(!this.loading){
          this.fire('add-contact-completed');
        }
      },

      addContact: function() {
        console.log("Adding Contact.....");
        console.log("Email: "+ this.email);
        console.log("Image URL: "+ this.email);
        if (this.email=="" || this.email==null || this.email=="" || this.email==null)
       {
         alert("Please Fill All Required Field");
         return false;
       }else{
           return this.addTriggered = true;
       }
       
      },

      submitContact: function() {
        let tempContact = new Object();
        tempContact.image = this.image;
        tempContact.name = this.selectedName;
        tempContact.email = this.email;
        console.log("Request Body : " + JSON.stringify(tempContact));
        this.contact = tempContact
        this.$.postContactAjax.body = JSON.stringify(tempContact);
        this.$.postContactAjax.generateRequest();
      },

      resetTriggered: function() {
        console.log("Reset.....");
        this.email = null;
        console.log("Email: "+ this.email);
        this.image = null;
        console.log("Image URL: "+ this.image);
        return this.addTriggered = false;
      },

      getSelectedName: function() {
        console.log("Selected name : " + this.selectedName);
      },

  	  ready: function(){
  	  	console.log("add-contacts-view ready()");
  	  }
	  
    });
  </script>
</dom-module>