
div{
    background-color: lightgoldenrodyellow
    }
    px-twoup {
        --px-card-background-color: lightyellow;
        --px-card-border-color: blue;
        --px-widget-boarder-color: blue;
    }


 
