<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">


<dom-module id="contacts-add">

 
   <template>
         <style include="add-person-styles"></style>

         <iron-ajax
      id="postPersonAjax"
      url="https://acts-contacts-microservice.run.aws-usw02-pr.ice.predix.io/api/v1/postcontacts "
      last-response="{{response}}"
      loading="{{loading}}"
      method="POST"
    >
    </iron-ajax>
    <form>
     <h1>Add Users Page</h1>

    <label>Name:</label>

    <px-dropdown value="{{selectedName}}" display-value="Select">
      <px-dropdown-content 
        class="px-dropdown-content" 
        items='[{"key":"one", "val": "Levi"}, {"key":"two", "val": "Mikasa"}, {"key":"three", "val": "Hange"}]'>
      </px-dropdown-content>
    </px-dropdown>
    <br>
    <label>Email: </label> <input type="text" value="{{email::input}}" class="text-input">   
     <br>
     <br>
    <label>Image: </label> <input type="text" value="{{image::input}}" class="text-input">
    <br>
    <br>
    <button class="btn btn--tertiary" on-tap="addPerson">Add</button> 
    <button type="reset" value="Reset" on-tap="resetPerson">Reset</button>
     </form>

    <template is="dom-if" if="{{addPersonTriggered}}">
            <div><img class="img-circle" src={{image::input}} alt="" height="100" width="100" /></div>
            <br>
            <div><label>Name: </label> {{selectedName}}</div>
            <br>
            <div><label>Email:</label> {{email::input}}</div>
            <br>
            <br>
            <img src="{{image::input}}">
            <br>
            <button class="btn btn--tertiary" on-tap="submitContact">Submit</button> 
    </template>  
  </template>



  <script>
    Polymer({
      is: 'contacts-add',
      properties: {    
        selectedName: String,
        email: String,
        image: String,
        loading: {
          type: Boolean,
        },
         person: {
          type: Object,
          notify: true
        },
        addPersonTriggered: {
            type: Boolean,
            value: false
        }
        },
        listeners: {
        'px-dropdown-value-changed' : 'getSelectedName'
        },

      observers: [
        'isLoading(loading)'
      ],

      isLoading: function(loading){
        console.log("isLoading : " + loading);
        if(!loading){
          this.fire('add-person-completed');
        }
      },

      addPerson: function() {
        console.log("addPersonTriggered: " + this.addPersonTriggered);
        return this.addPersonTriggered = true;
        }, 
        resetPerson: function() {
        return this.addPersonTriggered = false;
        console.log("addPersonTriggered" + this.addPersonTriggered);
        }, 
      submitContact: function() {
        let tempPerson = new Object();
        tempPerson.name = this.selectedName;
        tempPerson.email = this.email;
        tempPerson.image = this.image;

        console.log("Request Body : " + JSON.stringify(tempPerson));

        this.person = tempPerson;
        this.$.postPersonAjax.body = JSON.stringify(tempPerson);
        this.$.postPersonAjax.generateRequest();

      },

      getSelectedName: function() {
        console.log("Selected name : " + this.selectedName);
        this.email = this.selectedName;
      },
      ready: function() {
        console.log('contacts-add ready()')
      }
    });
  </script>
</dom-module>