<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/px-polymer-font-awesome/px-polymer-font-awesome.html"/>


<dom-module id="contacts-add">

 
   <template>
         <style include="add-person-styles"></style>

         <iron-ajax
      id="postPersonAjax"
      url="https://acts-contacts-microservice.run.aws-usw02-pr.ice.predix.io/api/v1/postcontacts "
      last-response="{{response}}"
      loading="{{loading}}"
      method="POST"
    >
    </iron-ajax>
    <form>
     <h1>Add Users Page</h1>

    <label>Name:</label>

    <px-dropdown value="{{selectedName}}" display-value="{{defaultDropDownVal}}">
      <px-dropdown-content 
        class="px-dropdown-content" 
        items='[{"key":"one", "val": "Levi"}, {"key":"two", "val": "Mikasa"}, {"key":"three", "val": "Hange"}]'>
      </px-dropdown-content>
    </px-dropdown>
    <br>
    <label>Email: </label> <input type="text" value="{{email::input}}" class="text-input">
        <i class="fa fa-info-circle" style="font-size:24px;color:red"></i>
     <br>
     <br>
    <label>Image: </label> <input type="text" value="{{image::input}}" class="text-input">
    <br>
    <br>
    <button class="btn btn--tertiary" on-tap="addPerson">Add</button> 
    <button type="reset" value="Reset" on-tap="resetPerson">Reset</button>
     </form>

    <template is="dom-if" if="{{addPersonTriggered}}">
            <br>
            <div><label>Name: </label> {{selectedName}}</div>
            <br>
            <div><label>Email:</label> {{email::input}}</div>
            <br>
            <br>
            <img src="{{image::input}}">
            <br>
            <button class="btn btn--tertiary" on-tap="submitContact">Submit</button> 
    </template>  
  </template>



  <script>
    Polymer({
      is: 'contacts-add',
      properties: {    
        selectedName: String,
        email: String,
        image: String,
        defaultDropDownVal:{
          type:String,
          value: "Select"
        },
        loading: {
          type: Boolean,
        },
         person: {
          type: Object,
          notify: true
        },
        addPersonTriggered: {
            type: Boolean,
            value: false
        }
        },
        listeners: {
        'px-dropdown-value-changed' : 'getSelectedName',
        'get-person-completed' : 'resetPerson'
        },

      observers: [
        'isLoading(loading)'
      ],

      isLoading: function(loading){
        console.log("addLoading : " + loading);
        if(!loading){
          this.fire('add-person-completed');
          this.email = " "
          this.image = " "
          this.defaultDropDownVal = "Select"
          return this.addPersonTriggered = false;
        }
      },    
      validateEmail: function(){
       console.log("validateEmail");
        var regExp =/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var isValidEmail =regExp.test(this.email)
        console.log("validateEmail", this.email)
        return isValidEmail
      },
      validateInput: function() {
       var isValid = true
        var validEmail = this.validateEmail()
        console.log("isValidEmail", validEmail);
        console.log("this.image" , this.image);
         if (!validEmail){
           isValid = false
           alert("E-mail invalid");
         }
          if (this.email == ""){
            isValid = false
           alert("Please input e-mail");
         }
          if (this.image == undefined){
            isValid = false
           alert("Please input image");
         }
         return isValid
      },
      addPerson: function() {
        var valid = this.validateInput()
        console.log("addPerson valid" , valid)
        console.log("addPersonTriggered: " + this.addPersonTriggered);
        if(!valid){
        return this.addPersonTriggered = false;
        }else{
        return this.addPersonTriggered = true;
        }
        }, 
        resetPerson: function() {
         this.defaultDropDownVal = "Select"
        return this.addPersonTriggered = false;
        console.log("RESET" + this.addPersonTriggered);
        }, 
      submitContact: function() {
        let tempPerson = new Object();
        tempPerson.name = this.selectedName;
        tempPerson.email = this.email;
        tempPerson.image = this.image;

        console.log("Request Body : " + JSON.stringify(tempPerson));

        this.person = tempPerson;
        this.$.postPersonAjax.body = JSON.stringify(tempPerson);
        this.$.postPersonAjax.generateRequest();

      },

      getSelectedName: function() {
        console.log("Selected name : " + this.selectedName);
        this.email = this.selectedName;
      },
      ready: function() {
        console.log('contacts-add ready()')
      }
     
    });
  </script>
</dom-module>