 

 .img-circle{
  border-radius:50%
  } 

ul{
  list-style:none
  }

li{
  display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:10px;margin-top:10px
  }

li+li{
  border-top:solid 1px #665;margin-top:50px;margin-bottom:20px
  }

li img{
  margin-right:20px; margin-top: 20px
  }

h3{
  line-height:0 40px 0 0;margin:40px
  }

li span{
  margin-top: 20px;line-height:30px
  }

px-card {
  --px-card-background-color: lightyellow;
  --px-card-border-color: blue;
}
 
$inuit-enable-btn--bare : true;
@import 'px-buttons-design/_objects.buttons.scss';

$inuit-enable-btn--icon : true;
@import "px-buttons-design/_objects.buttons.scss";