<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="card-contacts.html">
<link rel="import" href="add-contacts.html">
<link rel="import" href="contactslist-view-styles.html">
<dom-module id="contactslist-view">
  <style include="contactslist-view-styles">
   .contactslist-view {
      background-color: #A59073;
    }
  </style>
  <template>
    <iron-ajax
      id="getContactListAjax"
      url="https://predix-backend-ui-contacts.run.aws-usw02-pr.ice.predix.io/api/v1/contactslist"
      last-response="{{response}}"
      method="GET"
      auto
    >
    </iron-ajax>
    <px-twoup id="widget-2" widget-header="Contacts" widget-icon="fa-book">
      <div class='widget-1'>
        <add-contacts></add-contacts>
      </div>
      <div class='widget-2'>
        <card-contacts contact-list={{response}}></card-contacts>
      </div>
    </px-twoup>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'contactslist-view',
    properties: {
        response: {
          type: Array
        }
    },

    listeners: {
        'add-contacts-completed' : 'refreshContactList',
        'delete-contacts-completed' : 'refreshContactList'
    },

    refreshContactList: function() {
      this.$.getContactListAjax.generateRequest();
      console.log('Refreshing contact list!');
    },

    ready: function() {
      console.log('2-contactslist-view ready()')
    }
  });
</script>