<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/px-modal/px-modal.html">
<link rel="import" href="contacts-view-styles.html">

<dom-module id="contacts-view">
  <template>
    <style include="contacts-view-styles"></style>  

     <iron-ajax
      id="deleteContactAjax"
      url="https://acts-contacts-microservice.run.aws-usw02-pr.ice.predix.io/api/v1/deletecontacts"
      last-response="{{response}}"
      params='{{_getParams(contactId)}}'
      loading="{{loading}}"
      method="POST"
    >
    </iron-ajax>

   <div><px-card icon='fa-users' header-text='Contacts'>
      <ul>
          <template is="dom-repeat" items="{{contacts}}" as="contact" sort="_sort">
              <li>
                   <img class="img-circle" src={{contact.image}} alt="" height="100" width="100" />
                   <div><span><b>Name : </b>{{contact.name}}</span><br>
                        <span><b>Email : </b><a href={{contact.image}}>{{contact.email}}</a></span><br>
                       <span><b>Date Created : </b>{{contact.dateTimeStamp}}</span>
                   </div>
                <px-modal btn-modal-positive="DELETE" btn-modal-negative="Cancel" modal-heading="Confirm Delete" scrolling-disabled="true">
                <button class='btn btn--primary modal-trigger' on-tap="getId"><iron-icon icon="fa:fa-times"></iron-icon></button>
                <p>Contact will be deleted!!</p>
                <div align="center">
                     <br><br><img class="img-circle" src={{contact.image}} alt="" height="200" width="200" /><br><br>
                     <span><b>Name : </b>{{contact.name}}</span><br>
                     <span><b>Email : </b><a href={{contact.image}}>{{contact.email}}</a></span><br>
                     <span><b>Date Created : </b>{{contact.dateTimeStamp}}</span>
                </div>
                </px-modal>
              </li>             
          </template>
      </ul>          
   </px-card></div>
  </template>
  <script>
    Polymer({
      is: 'contacts-view',
      properties: {
          contactId: String,
          contacts :{
              type: Array,
              value: function(){
                  return [{
                      id : 1,
                      name :  "Aldwin Christopher Sy",
                      email : "aldwinsy@yahoo.com",
                      image : "https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAlxAAAAJDY2NGQwYWY3LTcwYTEtNGY4ZS05NzI4LTA2NjA0YzE3YjJmZg.jpg",
                      age : 21,  
                      dateTimeStamp : "2017-01-01 15:04:05"
                  }]
              }
          },
        //   `
         loading: {
          type: Boolean
        }
        },
          observers: [
            'isLoading(loading)'
          ],
         listeners: {
        'btnModalPositiveClicked' : 'deleteContact',
        'btnModalNegativeClicked' : 'showLog'
        },      
            

      _sort: function(a,b) {
          if(a==b){
              return 0;
          }
          return a.dateTimeStamp > b.dateTimeStamp ? -1 : 1;
      },
      getId: function(e) {
        var model = e.model;
        this.contactId = model.contact.id;
        console.log("id" , model.contact.id);
      },
      _getParams:function(contactId) {
       return {
           id : contactId 
           }
     },
     showLog: function() {
        console.log("cancelled.....")
     },
     deleteContact: function() {
        console.log("deleting....")
        this.$.deleteContactAjax.generateRequest();
        }, 
     isLoading: function(){
        console.log(" deletete isLoading : " + this.loading);
        if(!this.loading){
          this.fire('delete-contact-completed');
        }
      },
      ready: function() {
        console.log('contacts-view ready()')
      }
    });
  </script>
</dom-module>
