<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/px-modal/px-modal.html">
<link rel="import" href="list-contact-styles.html">

<dom-module id="list-contact">
  <style is="custom-style">
      .list-wrapper {
        display: flex;
        line-height: 20px;
      }
      .list-wrapper img {
        padding: 20px;
        margin-top: 20px;
        border-radius: 100%;
        width: 100px;
        height: 100px;
      }
      .list-wrapper h3 {
        color: #F7DAD9
      }
      .list-wrapper p {
        font-size: 12px;
        color: #786452
      }

      .list-wrapper button {
        border: none;
        color: #550c18;
        background-color: #a5907e;
        float: right;
        margin-top: 70px;
      }

      .list-wrapper a {
        color: #550c18;
      }

      .contact-info {
        display: block;
        margin: 0 160px 0 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 0px;
      }

      .confirmDelete {
        color:#F7DAD9;
        --px-modal-background-color: #443730;
        --px-modal-border-color : #a5907e;
        --px-modal-positive-button : {
          background-color: #550c18;
          color: #F7DAD9;
        };
        --px-modal-buttons : {
          background-color: #F7DAD9;
          color: #550c18;
        };
      }
      .confirmDelete p {
        color: #F7DAD9;
        font-size: 14px;
      }
  </style>
  <template>
    <iron-ajax
            id="deleteContactAjax"
            url="https://predix-backend-ui-contacts.run.aws-usw02-pr.ice.predix.io/api/v1/contact/{{id}}"
            last-response="{{response}}"
            loading="{{loading}}"
            method="POST"
    >
    </iron-ajax>
    <div class="list-wrapper">
        <img src="{{img}}" alt="">
        <div class="contact-info">
          <h3>{{name}}</h3>
          <span><a href="{{email}}">{{email}}</a></span>
          <p>{{timestamp}}</p>
        </div>
        <px-modal btn-modal-positive="Delete" btn-modal-negative="Cancel" modal-heading="Delete Contact"
         scrolling-disabled="true" class="confirmDelete">
          <button class='btn btn--bare modal-trigger'>
            <iron-icon icon="fa:fa-times"></iron-icon>
          </button>
           <p>Are you sure you want to delete {{name}} to your contacts?</p>
           <img src="{{img}}" alt="">
        </px-modal>
    </div>    
  </template>
</dom-module>
<script>
  Polymer({
    is: 'list-contact',
    properties: {
      id: Number,
      name: String,
      email: String,
      img: String
    },
    listeners: {
        'btnModalPositiveClicked' : 'sendDelReq'
    },
    observers: [
        'isLoading(loading)'
      ],

    isLoading: function(){
      console.log("isLoading : " + this.loading);
      if(!this.loading){
        this.fire('delete-contacts-completed');
      }
    },
    sendDelReq: function() {
      this.$.deleteContactAjax.generateRequest();
    }
  });
</script>