<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/px-card/px-card.html"/>
<link rel="import" href="contact-list.html">
<link rel="import" href="add-contact.html">
<link rel="import" href="new-contact-lists-view-styles.html">


<dom-module id="new-contact-lists-view">
  <template>
 
  <style include="new-contact-lists-view-styles">
  </style>

    <iron-ajax
      id="getContactAjax"
      auto    
      url="https://502581119-predix-seed-ui-pjco.run.aws-usw02-pr.ice.predix.io/api/v1/contacts"
      method= "GET"
      last-response="{{response}}"
    ></iron-ajax>

  <px-view-header title="CONTACTS" icon='fa-address-card'></px-view-header>
    
  <px-twoup>
      <div class='widget-1'>
          <span>
          <add-contact></add-contact>
        </span>
      </div>

      <div class='widget-2'>
        <span>
          <contact-list contacts={{response}}></contact-list>
        </span>
      </div>
    </px-twoup>
  </template>
 
  <script>
    Polymer({
      is: 'new-contact-lists-view',
      properties: {
        
           },
      listeners:{
        'add-contact-completed':'getContacts',
        'delete-contact-completed':'getContacts'
      },
      getContacts:function(){
        console.log("getContacts: ");
        this.$.getContactAjax.generateRequest();
      },
      ready: function() {
      }
    });
  </script>
</dom-module>
