$inuit-enable-btn--primary : true;
$inuit-enable-btn--bare : true;
$inuit-enable-validation-states : true;
@import 'px-buttons-design/_objects.buttons.scss';
@import 'px-forms-design/_base.forms.scss';
@import "px-helpers-design/_generic.helpers.scss";

@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";
@import "px-typography-design/_base.typography.scss"; 



div.comboBoxDiv {
    width:60%;

}
div.texFields {
    width:50%;

}
.errorText{
 
    display: inline-block;
    border: 1px solid red;
   
}
.data{
    font-size: small;
}
.errorMsg{
color : red;
   max-width: 100px;
}
.fa {
  color : red;

}
.img-circle {
   border-radius: 50%;
    height:70px;
    width: 70px
}  
.listing-wrapper{
  display: flex;
  padding: 20px;
  max-width: 100%;
}
.listing-wrapper img{
  border-radius: 100%;
   line-height: 20px;
   max-width: 100px;

    
}
.required-label:before {
  content:"*";
  color:red;
}
h3{
 margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    margin-left: 20px;
    max-width: 20px;
   text-align:left;
}
h4{
 margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    margin-left: 20px;
    max-width: 20px;
   text-align:left;
}

h5{
 margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    margin-left: 10px;
   max-width: 150px;
   text-align:left;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
//     padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.parentDisable{
                position:fixed;
                top:0;
                left:0;
                background:#000;
                opacity:0.8;
                z-index:998;
                height:100%;
                width:100%;
                }
                
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: absolute; 
   z-index: 9999; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 50%;
   top: 50%; 
   width: 300px;
   height: 300px;
   margin-left: -150px;
   margin-top: -200px;
   overflow: auto; /* Enable scroll if needed */
   
   

 

 
 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: gray;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color:gray;
    color: white;
}





