
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="populate-contact-list-styles.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-polymer-font-awesome/px-polymer-font-awesome.html">

<dom-module id="populate-contact-list">
    <template>
      <div id="parentDiv">
        <iron-ajax
          id="postPersonAjax"
          url="https://502581119-go-learning-session-svc2-pao.run.aws-usw02-pr.ice.predix.io/api/v1/contacts"
          last-response="{{response}}"
          loading="{{loading}}"
          method="POST"
          on-response="handleResponse"
        >
        </iron-ajax>
        <style include="populate-contact-list-styles"></style>
        <h1>Add Users Page</h1>
        <div class="comboBoxDiv" >
             <table >
               <tr>
                <td><b><label  class="required-label"></i>Name  :</label></b></td>
                   <td> <select id="cboName" disabled="{{cboNameFlag}}" >
                      <option value="">Select</option>
                    </select></td>
                <!--<td><px-dropdown value="{{name::change}}" 
                  id="cboName"  display-value="{{defaultValue}}">
                    <px-dropdown-content 
                      class="px-dropdown-content" 
                      items='[{"key":"","val":"Select","key":"Jake", "val": "Jake"}, 
                      {"key":"Jack", "val": "Jack"}, 
                      {"key":"Jon", "val": "Jon"}]'>
                    </px-dropdown-content>
                  </px-dropdown></td>-->
                <td> <label class="errorMsg" id="errorName"></label></td>
            </div>

        <div class="texFields">
         
            <tr>
              <td ><b><label class="required-label">Email:</label></b></td>
              <td > 
                <input id="txtEmail" type="text"
                  class="text-input"placeholder="Enter Email"
                  value="{{email::input}}" on-keyup="removewarning" />
              </td>
               <td align ='left'><label class="errorMsg" id="errorEmail"></label></td>
              </tr>
            
        </div>

        <div class="texFields">
          
             <tr>
                <td ><b><label class="required-label">Age &nbsp;&nbsp; :</label></b></td>
                <td ><input id="txtAge" value="{{age::input}}"
                class="text-input"  type="number" 
                placeholder="Enter Age" on-keyup="removewarning">   </td> 
                <td ><label class="errorMsg" id="errorAge"></label></td>
             </tr>
        </div> 
         <div class="texFields">
            <tr>  
               <th><b><label class="required-label">Image:</label></b></td>
               <td><input id="txtImageUrl" value="{{imageUrl::input}}" 
                  class="text-input" type="text" 
                  placeholder="Enter Image Url" on-keyup="removewarning"></td>
               <td><label class="errorMsg" class=ErrorMessage id="errorImage"></label></td>
            </tr>   
         </div>     
       </table>      
		    

        <br>
        <div class="comboBoxDiv">
          <button id="btnClearFields"  class="btn btn--primary" on-tap="clearFields">Reset</button>
          <button id="btnAdd" class="btn btn--primary" on-tap="validate">Add</button>
        </div>

        <div id="myModal" class="modal" align="center">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalHeader">ERROR!</h2>
            </div>
            <div class="modal-body">
              <p id="modalBody">Some text in the Modal Body</p>
            </div>
              <div class="modal-footer">
                <button   class="btn btn--primary" on-tap="closeModal">Close</button>
              </div>
            
          </div>
        </div>
           
        <template is="dom-if" if="{{isMsg}}">
          <div class="comboBoxDiv">
            <label>Name: {{name}}</label>
          </div>
          <div class="comboBoxDiv">
            <label>Email: {{email}}</label>
          </div>
          <div class="comboBoxDiv">
            <label>Age: {{age}}</label>
          </div>
          <div class="comboBoxDiv">
            <label>Image:</label> 
            <img class="img-circle"src="{{imageUrl}}" />
          </div>
          <div class="comboBoxDiv">
            <button class="btn btn--primary" on-tap="saveContact">Submit</button>
          </div>
          
		</template>
          
      </div>
	</template>
    <script>
      Polymer({
        is: 'populate-contact-list',
        properties: {
          response: {
            type: Array
          },
          id: {
            type: String
          },
          imageUrl: {
            type: String
          },
          name: {
            type: String
          },
          email: {
            type: String
          },
          age: {
            type: String
          },
          createdDate: {
            type: String
          },
          loading: {
            type: Boolean,
            observer: 'isLoading'
          },
          isMsg: {
            type: Boolean,
            value: false
          },
          isValidate: {
            type: Boolean,
            value: true
          },
           cboNameFlag: {
            type: Boolean,
            value: false
          },
          defaultValue: {
            type: String,
            value: "Select"
          },
          errorMessage: {
            type: String,
            value:"",
          },
        },
        listeners:{
		    	'px-dropdown-click':'removewarning'
          
        },

        saveContact: function() {
            let tempContact = new Object();
            tempContact.name = this.name;
            tempContact.email = this.email;
            tempContact.age = parseInt(this.age);
            tempContact.image=this.imageUrl;
            this.clearFields();
            console.log("Request Body : " + JSON.stringify(tempContact));
            this.$.postPersonAjax.body = JSON.stringify(tempContact);
            this.$.postPersonAjax.generateRequest();
          },
       
        clearFields: function() {
            this.defaultValue="Select";
            this.name="";
            this.email="";
            this.age="";
            this.imageUrl="";
            this.isValidate=false;
            this.isMsg=false;
            this.removewarning();
          
        },
        showMsg: function() {
            if(this.isMsg){
				    this.isMsg = false;
            } else {
                this.isMsg = true;
            }
        },
        removewarning: function(e){
       
        },
        closeModal:function(){
         var modal=this.$.myModal;

         this.enableFields();
         modal.style.display = "none";
         
        },
        handleResponse: function(e) {
			    console.log(e.detail.response);
        },
	    	validate:function(){
            this.isValidate=true;
             var modal=this.$.myModal;
             var msg="";
             
            if( this.defaultValue=="Select"){
             
            
              msg="Please Select a Name";
				       
                this.isValidate=false;
            }
            if( (this.isValidate) && this.$.email.value==""){
                
                msg="Please Enter A valid Email";
                
                this.isValidate=false;
            }
            if( (this.isValidate) && this.email!==""){
              if(!this.validateEmail(this.email)){
                 msg="Email format is invalid";
                
                this.isValidate=false;
              }
			      }
            if( (this.isValidate) && this.$.age.value==""){
                msg="Please Enter your Age";
                this.isValidate=false;
            }
            if( (this.isValidate) && this.age <= 0){
               
               msg="Age Must be grater than 0";
               this.isValidate=false;
            }
            if( (this.isValidate) && this.$.imageUrl.value==""){
				        
                 msg="Please Enter a Image Url";
                 this.isValidate=false;
            }
            if (this.isValidate){
				        this.showMsg();
                this.isValidate=true;
            }
            if (!this.isValidate){
              modal.style.display = "block";
               this.$.modalBody.innerHTML=msg;
               this.disableFields();
            }
        },
        enableFields:function(){
                this.$.cboName.disabled=false
                
               this.$.txtAge.removeAttribute("readonly");
               this.$.txtEmail.removeAttribute("readonly");
               this.$.txtImageUrl.removeAttribute("readonly");
               this.$.btnAdd.disabled = false;
               this.$.btnClearFields.disabled = false;
                  
        },
        disableFields:function(){
               this.$.cboName.disabled=true
               this.$.txtAge.readOnly="true";
               this.$.txtEmail.readOnly="true";
               this.$.txtImageUrl.readOnly="true";
               this.$.btnAdd.disabled = true;
               this.$.btnClearFields.disabled = true;
        },
        populateList:function(){
          var select = this.$.cboName; 
          var options = ["Jack", "Jon", "Jake", "John", "Jones"]; 
            for ( var i = 0; i < options.length; i++) {
               var opt = options[i];
              select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
            }
        },
      isLoading: function(){
			  console.log("isLoading : " + this.loading);
			  if(!this.loading){
          this.clearFields();
          this.showMsg();
          this.fire('api-completed');
			  }
  		},
       
	  	validateEmail:function(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },
    

      ready: function(){
			  console.log("populate-contact-list ready()");
        this.populateList();
      }
    });
    </script>
</dom-module>
